<div class="container body-content">

    <h1>@ViewBag.title</h1>
    <table class="job-listing">

        @foreach (Job job in ViewBag.jobs)
        {
            <tr>
                
                <td>
                    ID: @job.Id<br />
                    Name: @job.Name<br />
                    Employer: @job.Employer.ToString()<br />
                    Location: @job.Location.ToString()<br />
                    Position Type: @job.PositionType.ToString()<br />
                    Skill: @job.CoreCompetency.ToString()
                </td>
            </tr>
        }

    </table>
    


</div>